<div class="form-container">
  <div class="col-md-12">
    <h3 class="form-header">Enter your address and get your lat/long</h3>
    <hr>
    <br>
  </div>

  <div class="signup-form">
    
    <form ng-submit="addressSubmit()"  class="form-horizontal">


    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="street">Street Address</label>  
      <div class="col-md-5">
      <input id="street" name="street" ng-model="address.street" type="text" placeholder="1002 Fairlawn Dr." class="form-control input-md">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="city">City</label>  
      <div class="col-md-5">
      <input id="city" name="city" ng-model="address.city" type="text" placeholder="Urbana" class="form-control input-md">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="state">State</label>  
      <div class="col-md-5">
        <!--      <input id="state" name="state" ng-model="address.state" type="text" placeholder="amnotafraid@gmail.com" class="form-control input-md"> -->
				<select ng-model="address.state">
					<option ng-repeat="state in states">{{ state.abbreviation }}</option>
				</select>
        
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="zip">Zipcode</label>  
      <div class="col-md-5">
      <input id="zip" name="zip" ng-model="address.zip" type="text" placeholder="61801" class="form-control input-md">
        
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="signup"></label>
      <div class="col-md-5">
        <button id="signup" name="signup" class="btn btn-success btn-block">Submit Address</button>
      </div>
    </div>

    </form>
  </div>
	<div ng-show="fDisplayLatLong">
		<div class="row">
			<div class="col-md-2 col-md-offset-4">
				<b>Lat</b>:
			</div>
			<div class="col-md-2">
				{{ latitude | latlong:'lat'}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 col-md-offset-4">
				<b>Long</b>:
			</div>
			<div class="col-md-2">
				{{ longitude | latlong:'long'}}
			</div>
		</div>
	</div>
</div>

